/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background: #fff;
}

/* Hero Section */
.hero {
    background: url('compressed_book_cover.jpg') no-repeat center 29%/cover; /* Adjusted the y-value to 20% */
    color: #fff;
    text-align: center;
    position: relative;
    height: 100vh; /* The hero section will take up the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Content Wrapper inside Hero Section */
.content-wrapper {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for content */
    border-radius: 10px;
    padding: 2rem;
}

/* CTA Buttons */
.cta-buttons {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem; /* Space between CTA buttons and author section */
}

.cta-button {
    display: inline-block;
    background: #008000; /* Green color */
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #004d00; /* Darker green on hover */
}

/* Author Section */
.author-section {
    text-align: center;
    color: #fff; /* White color for text */
}

.author-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
    .author-image {
        width: 100px;
        height: 100px;
    }
    .content-wrapper {
        padding: 1rem;
    }
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* ... other styles ... */

/* CTA Buttons */
.cta-buttons {
    text-align: center;
    padding: 1rem;
}

.cta-button {
    display: inline-block;
    background: #008000; /* Green color */
    color: #fff;
    padding: 15px 30px; /* Increased padding for bigger buttons */
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.25rem; /* Larger font size */
    transition: background-color 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Added shadow for depth */
}

.cta-button:hover {
    background-color: #004d00; /* Darker green on hover */
}

/* ... other responsive styles ... */
